<h1>課程查詢</h1>

<table border="1">
<tr>
    <th>課程</th>
    <th>學分</th>
    <th>教授</th>
    <th>教室</th>
    <th>人數</th>
    <th>選課</th>
</tr>

{% for c in courses %}
<tr>
    <td>{{ c.name }}</td>
    <td>{{ c.credits }}</td>
    <td>{{ c.instructor }}</td>
    <td>{{ c.building }} {{ c.room_number }}</td>
    <td>{{ c.current_enroll }}/{{ c.capacity }}</td>
    <td>
        <a href="/enroll/{{ c.offering_id }}">
            選課
        </a>
    </td>
</tr>
{% endfor %}
</table>