<!DOCTYPE html>

<html>

<head>

<title>選課系統</title>

<style>

body{
text-align:center;
font-family:Arial;
}

.menu{
margin-top:80px;
}

button{
padding:15px;
width:250px;
margin:10px;
}

</style>

</head>

<body>

<h1>Course Selection System</h1>

<div class="menu">

<a href="/login">
<button>
登入
</button>
</a>

<br>

<a href="/current_courses">
<button>
檢視本學期開課
</button>
</a>

<br>

<a href="/all_courses">
<button>
檢視本校所有課程
</button>
</a>

</div>

</body>

</html>